@define-color bg rgba(40, 40, 40, 0.9);
@define-color fg #ebdbb2;
@define-color aqua #8ec07c;   /* Primary Accent */
@define-color yellow #fabd2f; /* Secondary Accent */
@define-color blue #458588;   /* Tertiary Status */

#custom-launcher, #workspaces, #mpris, #clock, .modules-right {
    background: @bg;
    color: @fg;
    border-radius: 10px;
    padding: 0px 15px;
    margin: 2px 2px;
    border: 1px solid rgba(142, 192, 124, 0.2);
}

#custom-launcher, #workspaces button.active { color: @aqua; }
#clock { color: @yellow; }
#mpris { color: @blue; }

#idle_inhibitor, #custom-updates, #temperature, #disk, #cpu, #memory, #backlight, #pulseaudio, #network, #bluetooth, #battery {
    color: @blue;
    padding: 0 8px;
}
